/*************************** 

CSS document for this project



**************************/

body {
    /*styling the colors of the website*/
    background-color: rgb(28, 28, 28);
    color: white;

    /*styling the font*/
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    font-weight: normal;
    font-display: fallback;
    margin: 10%;
}

/* Hyperlinks*/
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 5rem;

}

/* Navigation Menu settings, includes hyperlinks*/
nav {
    margin-top: 20%;
    float: left;
    width: 20%;

}

.wrapper {
    float: right;
    width: 60%;
}

/*Image width*/
img {
    width: 95%;
}

/* settings to create the grid*/
.bookgrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

/*Bibliography settings*/
.ref {
    font-size: .8em;
    line-height: .6em;
    font-weight: 100;
}

footer {
    font-size: .8em;
    line-height: 1em;
}

/* margin to all sections*/
section {
    margin-top: 10%;
    margin-bottom: 10%
}